@import './breakpoints.scss';

//Colors from figma
$background: #16181e;
$primary: #00b9ae;
$white: #f9f9f9;
$highlight: #21242d;

html {
  -webkit-text-size-adjust: 100%;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  font-feature-settings: 'kern';
  text-rendering: optimizeLegibility;
  color: $white;
}

body {
  background-color: $background;
  font-family: inherit;
  line-height: inherit;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
.vvvv {
  margin-top: 20rem;
  &.active {
    background: red;
  }
}
::selection {
  background: $primary;
  color: $white;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  align-items: center;
  text-align: center;
  justify-content: center;
}
